* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./material/cesar-couto-27HiryxnHJk-unsplash.jpg);
}
#mainContainer {
  background-color: aliceblue;
  box-shadow: 7px 5px 10px -6px;
  height: 40rem;
  width: 36rem;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  background-size: cover;

  text-align: center;
  border-radius: 0.1rem;
  position: absolute;
  width: 87%;
  top: 4rem;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 0.3rem;
  background-image: url("./material/cesar-couto-27HiryxnHJk-unsplash.jpg");
  background-position: bottom 35px right 100px;
}

h1::before {
  background-color: black;
  content: "";
  display: block;
  height: 3px;
  width: auto;
  margin-bottom: 5px;
}

h1::after {
  background-color: black;
  content: "";
  display: block;
  height: 3px;
  width: auto;
  margin-top: 5px;
}

#txtWrapper {
  position: absolute;
  top: 16rem;
  width: 55%;
  height: auto;
}
#outputTxt {
  font-size: 1.5em;
  letter-spacing: 10px;
  font-family: monospace;
  width: 100%;
  white-space: pre-line;
  overflow: hidden;
}

#getComplimentButton {
  position: absolute;
  bottom: 6rem;
  width: 7rem;
  margin: 0 auto;
  padding: 0.8rem;
  border: none;
  background-image: url("./material/cesar-couto-27HiryxnHJk-unsplash.jpg");
  box-shadow: 7px 5px 10px -6px;
  transition: 0.2s ease-out;
  border-radius: 0.1rem;
}
#getComplimentButton:hover {
  background-image: url(./material/cesar-couto-27HiryxnHJk-unsplash.jpg);
  background-position: right;
}

#getComplimentButton:active {
  width: 8rem;
  border: none;
}

@media (max-width: 430px) {
  #mainContainer {
    height: auto;
    width: auto;
  }

  #getComplimentButton {
    position: relative;
    bottom: 0;
    background-color: aliceblue;
  }

  h1 {
    width: 100%;
    position: static;
    top: 1rem;
    font-size: 26px;
  }

  #outputTxt {
    position: static;
    top: auto;
  }
}
